@import "../../Colors.css";
#Services-tab-second {
color:var(--MyBlack);
border-top-right-radius: 100px;
border-bottom-right-radius: 100px;
box-shadow:2px 1px 7px -2px var(--MyGray);
}
#Services-tab-second.active{
    color:var(--MyWhite);
    BACKGROUND-COLOR: var(--MyYellow);
}
#Services-tab-first {
color:var(--MyBlack);
border-top-left-radius: 100px;
border-bottom-left-radius: 100px;
box-shadow:-2px 1px 7px -2px var(--MyGray);
}
#Services-tab-first.active{
    color:var(--MyWhite);
    BACKGROUND-COLOR: var(--MyYellow);
}
#ServiceItem {
    height: 100%;
    box-shadow: 1px 1px 8px 0px #d5d5d5;
    background-image: url(../../assets/images/5448@3x.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 150%;
  }