@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./assets/fonts/light-font.otf) format('opentype');
}
body {
  margin: 0;
  font-family: MyFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-image: url(./assets/images/38@3x.png);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: right top;
  background-size: 300px 100px;
}