@import './Colors.css';
@font-face {
  font-family: 'light-font';
  src: url(./assets/fonts/light-font.otf);
}

/* div {
  font-family: myFirstFont;
} */
body {
  margin: 0;
  font-family: 'light-font' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/images/38@3x.png),url(./assets/images/40@3x.png),url(./assets/images/2377@3x.png),url(./assets/images/2376@3x.png);
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
  background-position: right top,left top,8% 5%,45% 6%;
  background-size: 55%,25%,40%,10%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
#Main {
  padding-top: 3vw;
    padding-bottom: 40vw;
    padding-right: 3vw;
}
#About,#Rate{
  padding-top: 3vw;
    padding-bottom: 10vw;
    padding-right: 3vw;
}

.responsiveText {
  font-size: 2.5vw !important;
}
@media (max-width: 640px) {
  #Main {
    margin-top: 190px;
    padding-bottom: 10vw;
  }
  .responsiveText {
    font-size: 5.5vw !important;
    color: black;
  }
}
