@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./assets/fonts/light-font.otf) format('opentype');
}
body {
  margin: 0;
  font-family: MyFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-image: url(./assets/images/38@3x.png),url(./assets/images/40@3x.png),url(./assets/images/2377@3x.png),url(./assets/images/2376@3x.png);
  background-repeat: no-repeat,no-repeat,no-repeat,no-repeat;
  background-position: right top,left top,7% 3%,45% 6%;
  background-size: 55%,25%,40%,10%;
}
#Main{
  padding-top: 10vh;
    padding-bottom: 40vh;
}